
@{
    ViewData["Title"] = "InquaryConfirmation";
}

<h1 class="text-success offset-sm-2">Заказ успешно сформирован и отправлен.</h1>
<a asp-action="Index" asp-controller="Home" asp-area="" class="w-100 btn btn-lg btn-primary">Вернуться на главную страницу</a>

